<%- include('header&footer/adatlap-header') -%> 

<main>
  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block mx-auto" src="/uploads/<%=auto.img%>">
      </div>
    </div>
  </div>
  
  <div class="properties-div">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>Márka</th>
          <td><%= auto.marka %> </td>
        </tr>
        <tr>
          <th>Model</th>
          <td><%= auto.model %> </td>
        </tr>
        <tr>
          <th>Évjárat</th>
          <td><%= auto.evjarat %> </td>
        </tr>
        <tr>
          <th>Állapot</th>
          <td><%= auto.allapot %> </td>
        </tr>
        <tr>
          <th>Kilóméteróra állása</th>
          <td><%= auto.km_ora %> </td>
        </tr>
        <tr>
          <th>Üzemanyag</th>
          <td><%= auto.uzemanyag %> </td>
        </tr>
        <tr>
          <th>Hengerűrtartalom (cm³)</th>
          <td><%= auto.hengerurtartalom %> </td>
        </tr>
        <tr>
          <th>Hajtás</th>
          <td><%= auto.hajtas %> </td>
        </tr>
        <tr>
          <th>Ár</th>
          <td><%= auto.ar %> </td>
        </tr>
        <tr>
          <th>Elérhetőség</th>
          <td><%= auto.tel %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<%- include('header&footer/footer') -%> 